@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900');

:root {
    --purple-color: rgb(132, 30, 63);  /* #841e3f */
    --grey-color: #171819; /* #3D3F43 */
    --blue-color: rgb(80, 119, 170);
    --offwhite-color: rgb(243, 243, 243);
}

html {
  scroll-behavior: smooth;
}

body{
  font-family: 'Roboto', 'Helvetica', sans-serif;
  margin: 0;
}

/* https://www.w3schools.com/howto/howto_js_scroll_to_top.asp */

#top, body, #skills, section{
  background-color: var(--offwhite-color);
}

strong{
  color: var(--purple-color);
}

main{
  background-color: white;
}

section:not(.folio){
  color: var(--grey-color);
  box-sizing: border-box;
}

section:not(#port){
  padding: 1rem;
}

section a{
  font-weight: 700;
}

section:not(#intro){
  margin: .7rem;
  /* border: 1px solid var(--grey-color); */
  border-radius: 5px;
  box-shadow: 2px 2px rgb(199,199,199);
}

section h2:not(#intro){
  color: var(--purple-color);
  font-weight: bold;
  /* padding-bottom: .5rem;
  margin-bottom: 1.5rem;
  border-bottom: 3px solid var(--purple-color); */
  /* text-shadow: 1px 1px 1px grey; */
}

img{
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  object-fit: cover;

  max-width: 100%;
  height: auto;
}

p{
  font-size: 1.1rem;
}


/* ===== HEADER / NAV ========= */

header a{
  color: var(--purple-color);
  text-decoration: none;
}

header a:hover,
header a:active{
  color: black;
  text-decoration: none;
}

#top{
  /*   #top = nav
  */
  padding: 0;
}

#top .navbarlogo{
  padding-left: 2.5rem;
}

#top .navbarlogo img{
  width: 100px;
  padding: 1rem 0;
}

.fa-bars{
  font-size: 1.8rem;
}

.fa-bars:hover{
  cursor: pointer;
}

header nav .desk{
  /* hides the desktop menu on MOBILE view */
  display: none;
}

header nav .celular{
  /* shows the menu icon on mobile view */
  cursor: pointer;

  font-size: 1.5rem;
  padding-right: 2.5rem;
}

nav .menushow{
  /* this class is ADDED when hamburger menu is clicked */
  display: flex;
  flex-flow: column nowrap;

  width: 100%;
  text-align: center;
  background-color: var(--offwhite-color);

  padding: 0;
  margin: 0;

  transform: none;
  transition: transform 300ms linear;

  border-top: 1px solid var(--grey-color);
  /* background-color: rgb(245,245,245); */

  position: absolute;
  top: 4rem;
  right: 0;

  text-align: center;
  background-color: var(--offwhite-color);
}

nav .menushow a:active{
  color: var(--purple-color);
  text-decoration: none;
}

header nav .menushow li{
  list-style-type: none;
  font-size: 1.4rem;
  padding: 1.4rem;
  font-weight: bold;
}


/* =================================== */
/* MAIN SECTION */
main a{
  color: white;
  text-decoration: none;
}

main a:hover{
  color: white;
  text-decoration: none;
}

/* =================================== */
/*  SECTION > INTRO  */

#intro{
    background-image: url("./img/back2.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

#intro a{
  text-decoration: none;
}

#intro div{
  background: rgba(0,0,0,0.5);
  padding: 1rem;
  width: min( max-content, 100%);
}

#intro div h1{
  font-family: "Roboto", sans-serif;
  margin: 0;
  font-size: 3rem;

  text-shadow: 1px 1px 1px black;
}

#intro div h2{
  font-size: 1.5rem;
  color: white;
}

#intro div p{
  margin-top: .3rem;
}

#intro div ul{
  padding: 0;
}

#intro div ul li{
  font-size: 1.1rem;
  list-style: none;
}

/* =================================== */
/* ICONS > INTRO SECTION */

.buttonURL{
    display: flex;
    flex-flow: column;
}

.fa-mobile-alt,
.fa-envelope{
   padding: 0 .5rem 0 1rem;
}

.contact,
.social{
    padding: .5rem 0;
}

.social, .resume{
    background-color: var(--purple-color);
    display: inline-block;
    margin: 0 0 1.2rem 0 ;
    padding: .45rem 1rem;
    border-radius: 5px;
    width: 200px;
    text-align: center;
}

.social a{
    color: white;
    text-decoration: none;
}

.social:hover{
    background-color: #5F0622;
}

.resume{
    background-color: var(--blue-color);
}

.resume:hover{
  background-color: #1E4981;
}

/* =================================== */
/* SECTION > ABOUT ME  */

#about{
  display: flex;
  flex-flow: column nowrap;
  box-sizing: border-box;
}

#about div{
  display: flex;
  flex-flow: row wrap;
}

#about div img{
  max-width: 100%;
  margin-bottom: 1rem;
  border-radius: 5px;

}

#about div div{
  display: flex;
  flex-flow: column nowrap;
}

/* =================================== */
/*   SECTION > PORTFOLIO  */

.grouping{
  /* contains all the portfolio projects */
  display: flex;
  flex-flow: column wrap;
}

.tech{
  /* list of tech inside of each project */
  display: flex;
  flex-flow: row wrap;
  justify-content:space-evenly;

  margin-top: 1.5rem;
  padding-left: .5rem;

  list-style: none;
}

.tech li{
  margin-top: .5rem;
  margin-right: 1.5rem;
}

#port h4{
  margin-bottom: 1.3rem;
  text-align: center;
}

#port a{
  color: var(--purple-color);
}

#port>h2,
#port>p{
  padding-left: 1rem;
}

#port>h2{
  padding-top: 1rem;
}

.folio{
  flex: 1 0 100%;
  padding: 1.5rem 1rem;

  display: flex;
  flex-flow: column nowrap;

  background-color: rgb(222, 222, 222);
  border-radius: 5px;
}

.folio:not(:last-of-type){
  margin-bottom: 1rem;

}

.folio img{
  width: 100%;
}

.folio .description{
  margin-top: 1rem;
}

.folio h4{
  padding-bottom: .5rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid grey;

}

/* =================================== */
/*   SECTION > SKILLS  */

#skills h2{
  margin-bottom: 1rem;
}

#skills h4{
  margin: 2.2rem 0 1.3rem 0;
  text-decoration: underline;
  font-weight: bold;
}

#skills i{
  font-size: 2rem;
}

#skills div ul{
  padding: 0;
  columns: 2;
}

#skills ul li{
  margin-bottom: 1.2rem;
  margin-left: 1rem;
  list-style: none;
}

/* =================================== */
/*   SECTION > FOOTER  */

#foot{
  line-height: 3.2;
  font-size: 2rem;
  text-align: right;

  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;

  background-color: var(--purple-color);
  color: white;
}

footer a{
  color: white;
  text-decoration: none;
}

footer a:hover{
  color: white;
  text-decoration: none;
}

footer p{
  font-size: 1rem;
  display: inline-block;
  margin: 0;
  padding: 0 0 0 1.5rem;
}

/* =================================== */
/*   SCROLL TO THE TOP BUTTON  */

#myBtn {
  display: none;
  position: fixed;
  bottom: 60px;
  right: 20px;
  z-index: 99;
  font-size: 35px;
  border: none;
  outline: none;
  background-color: var(--purple-color);
  color: white;
  cursor: pointer;
  padding: 0 .8rem;
  margin: 0;
  border-radius: 60%;
  box-shadow: 1px 1px rgb(100,100,100);
}


/* ======================================================== */
/* ======================================================== */
/* do another media query for 1060px */
/* ======================================================== */
@media screen and (min-width: 800px){

    section:not(#port){
      padding: 2rem 0rem 2rem 2rem;
    }

    section:not(#intro){
      margin: 2rem;
    }

    /* ================================== */
    /* HEADER */

      header nav .celular{
        display: none;
      }

      header nav .desk{
        display: flex;
      }

      nav .menushow{
        /* this class is ADDED when hamburger menu is clicked */
        flex-flow: row nowrap;
        width: inherit;
        position: initial;
        margin-right: 2rem;

        border-top: none;
      }

      nav .menushow li{
        width: 150px;
      }

      header #top .menushow li a{
        text-align: center;
        font-size: 1.2rem;
      }

      header #top .menushow li:hover,
      .dropdown:hover{
        background-color: var(--purple-color);
      }

      header nav ul li:hover a{
        color: white;
        text-decoration: none;
      }

      header nav .desk a:last-of-type{
        /* margin-right: 2rem; */
      }

        /* .menu ul:last-child{
          margin-right: 2rem;
        } */

      #intro{
        /* background-image: url("./img/background.png"); */
        background-image: url("./img/back2.png");
        background-repeat: no-repeat;
        background-size: 100% auto;
        color: white;
        height: 500px;
      }

      #intro div{
        padding: 2rem 3rem;
        border-radius: 5px;
        display: inline-block;
        background: rgba(0,0,0,0.7);
        width: min( maxcontent, 70%);
      }

      /* ================================== */
      /* ABOUT ME */


      #about{
        margin: 2rem;
      }

      #about div{
        display: flex;
        flex-flow: row nowrap;
      }

      #me{
        padding: 0 2rem 2rem 2rem;
        /* columns: auto 2;
        column-gap: 2rem; */
      }

      #me p{
        /* padding: 0;
        display: inline-block; */
      }

      /* ================================== */
      /* PORTFOLIO */

      .tech{
        justify-content:center;
        flex-flow: row nowrap;
      }

      #port h4{
        margin-bottom: 1.8rem;
      }

      #port>h2,
      #port>p{
        padding-left: 2rem;
      }

      .folio{
        display: flex;
        flex-flow: row wrap;

        padding: 2rem;
        /* margin-right: 2rem;
        margin-bottom: 2rem; */
        margin: 1rem 2rem;
      }

      .folio h4{
        flex: 0 0 100%;
      }
      .folio a{
        flex: 0 0 40%;
      }
      .folio a img{
        padding-right: 1.4rem;
      }

      .folio .description{
        flex: 0 0 58%;
        padding: 0 1rem;
        margin-top: 0;
      }

      /* ================================== */
      /* SKILLS */

      #skills ul{
        display: flex;
        flex-flow: row wrap;
      }

      #skills ul li{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        padding-right: 1.5rem;
      }

      /* =================================== */
      /*   SCROLL TO THE TOP BUTTON  */

      #myBtn {
        bottom: 100px;
        right: 50px;
      }



}
